{% extends "/base/public.html" %}

{% block content %}
<div class="container">
    <h3>Welcome to S.H.I.F.T</h3>
    <form action="" method="POST">
    {% if user == None %}
        {{ form.hidden_tag() }}
        {{ form.username.label()}}
        {{ form.username(class="form-control", placeholder="Create your username") }}

        {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    {% else %}
        <hr>
        <label>Username: </label> {{user.username}}
    {% endif %}

    {% if student == None %}
        <hr>
        <h4>Student Information: </h4>
        <div class="form-inline">
            <label>Student ID : </label>
            <input name="student_id" class="form-control" placeholder="Student ID" minlength="9" maxlength="9">
        </div>
        <div class="form-inline">
            <label>Department: </label>
            <select name="department_id" class="form-control">
                <option value="" selected disabled>Select Department</option>
            {% for department in departments %}
                <option value="{{department.id}}">{{department.name}}</option>
            {% endfor %}
            </select>
        </div>
    {% endif %}
        <hr>
        <button class="btn btn-outline-primary" type="submit">Sign Up</button>
    </form>
</div>

{% endblock %}

{% block script %}
<script>
    
</script>
{% endblock %}