{% extends "/base/auth.html" %}

{% block content %}
<div class="container">
    <table class="table">
        <tbody>
            {% for student in students: %}
            <tr onclick="view_modal('{{student.id}}')" data-toggle="modal" data-target="#myModal">
                <td>{{student.profile.first_name}}</td>
                <td>{{student.profile.last_name}}</td>
                <td>{{student.profile.email}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
        <div class="modal-content">
        
            <!-- Modal Header -->
            <div class="modal-header">
            <h4 class="modal-title">Student ID</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <input id="student_id">
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            
        </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    function view_modal(id){
        document.getElementById("student_id").value = id;
    }
</script>
{% endblock %}