{% extends "/base/auth.html" %}

{% block head %}
    <style>
        .label{
            width: 150px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <h3>New User</h3>
    <form action="" method="POST">
    {% if user == None %}
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="form-inline">
                {{ form.username.label(class="label")}}
                {{ form.username(class="form-control", placeholder="Create your username") }}
            </div>
        </div>
        {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    {% else %}
        <hr>
        <label class="label">Username: </label> {{user.username}}
    {% endif %}

    {% if employee == None %}
        <hr>
        <h4>Employee's Information: </h4>
        <div class="form-group">
            <div class="form-inline">
                <label class="label">Employee ID : </label>
                <input name="employee_id" class="form-control" placeholder="Employee ID" minlength="9" maxlength="9" required>
            </div>
        </div>
        <div class="form-group">
            <div class="form-inline">
                <label class="label">Department: </label>
                <select name="department_id" class="form-control" required>
                    <option value="" selected disabled>Select Department</option>
                {% for department in departments %}
                    <option value="{{department.id}}">{{department.name}}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-inline">
                <label class="label">Wage ($/hr) : </label>
                <input name="wage" class="form-control" placeholder="$/hr" type="number" required>
            </div>
        </div>
        <div class="form-group">
            <div class="form-inline">
                <label class="label">Supervised by : </label>
            {% if current_user.is_authorized(['admin']) %}
                <select name="supervisor_id" class="form-control">
                    <option value="" selected disabled>Select Supervisor</option>
                {% for supervisor in supervisors %}
                    <option value="{{supervisor.employee.id}}">
                        {{supervisor.employee.profile.first_name}} {{supervisor.employee.profile.last_name}} - Department
                        : {{supervisor.employee.department.name}} - ({{supervisor.employee.id}})
                    </option>
                {% endfor %}
                </select>
            {% else: %}
                <select name="supervisor_id" class="form-control">
                    <option value="{{current_user.profile.employee.id}}">{{current_user.profile.first_name}} {{current_user.profile.last_name}} - {{current_user.profile.employee.id}}</option>
                </select>
            {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="form-inline">
                <label class="label">Optional Role(s): </label>
            {% if current_user.is_authorized(['admin']) %}
                <div class="form-check-inline">
                    <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="role" value="supervisor">Supervisor
                    </label>
                </div>
            {% endif %}
                <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" name="role" value="assistant">Assistant
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="role" value="tutor">Tutor
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <b>If the employee is tutor: </b>
            <div class="ml-4">
                <div class="form-inline">
                    {% for course in courses %}
                    <div class="form-check-inline col-sm-3 col-md-3">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" name="course_id" value="{{course.id}}">{{ course.id }} - {{course.name}}
                        </label>
                      </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
        <hr>
        <button class="btn btn-info w-100" type="submit">Submit</button>
    </form>
</div>

{% endblock %}

{% block script %}
<script>
    
</script>
{% endblock %}