{% extends "/base/auth.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/profile.css') }}"/>





<div class="container">
   <!-- <div class="profileblock"> -->
        <div class="row">
            <div class="col" style="text-align: center;">
            <img src="/static/images/logo/logo.png" style="height:150px; border-radius: 50%; border: 10px solid rgb(114, 173, 168);" alt="personal profile image">
            </div>
        </div>
        <div class="row">
            <div class="col">
            <h2> Hello, {{user.username}} </h2>
            </div>
            <div class="col" style=" text-align: right;">
            <button type="button" class="btn btn-primary shiftbutton" data-toggle="modal" data-target="#myModal">
                Edit
            </button>
            </div>
        </div>
        <div class="row">

            <div class="col col-sm-4 col-md-4">
                <div class="row">
                    <div class="col-4" style="display: inline-block;">Firstname:</div> 
                    <div class="col-7 infocontainer">{{profile.first_name}}</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-4" style="display: inline-block;">Lastname:</div> 
                    <div class="col-7 infocontainer">{{profile.last_name}}</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-4" style="display: inline-block;">NickName:</div> 
                    <div class="col-7 infocontainer">{{profile.preferred_name}}</div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-sm-4">
                <div class="row">
                    <div class="col-4" style="display: inline-block;">Phone:</div> 
                    <div class="col-7 infocontainer">{{profile.phone}}</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-4" style="display: inline-block;">Email:</div> 
                    <div class="col-7 infocontainer">{{profile.email}}</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-4" style="display: inline-block;">Address:</div> 
                    <div class="col-7 infocontainer">{{profile.address}}</div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-sm-4">
                <div class="row">
                    <div class="col-4" style="display: inline-block;">City:</div> 
                    <div class="col-7 infocontainer">{{profile.city}}</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-4" style="display: inline-block;">State:</div> 
                    <div class="col-7 infocontainer">{{profile.state}}</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-4" style="display: inline-block;">Zipcode:</div> 
                    <div class="col-7 infocontainer">{{profile.zip_code}}</div>
                </div>
            </div>

        </div>
    <!-- </div> -->
        

</div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{profile.first_name}} {{profile.last_name}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body ">
                    <form action="" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <div class="custom-control-inline">
                                {{ form.first_name.label(class="control-label col-sm-5")}}
                                {{ form.first_name(class="form-control", placeholder="First Name", value=profile.first_name) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control-inline">
                                {{ form.last_name.label(class="control-label col-sm-5")}}
                                {{ form.last_name(class="form-control", placeholder="Last Name", value=profile.last_name) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control-inline">
                                {{ form.middle_name.label(class="control-label col-sm-5")}}
                                {{ form.middle_name(class="form-control", placeholder="Middle Name", value=profile.middle_name) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control-inline">
                                {{ form.preferred_name.label(class="control-label col-sm-5")}}
                                {{ form.preferred_name(class="form-control", placeholder="Preferred Name", value=profile.preferred_name) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control-inline">
                                {{ form.gender.label(class="control-label col-sm-5")}}
                                {{ form.gender(class="form-control", value=profile.gender) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control-inline">
                                {{ form.phone.label(class="control-label col-sm-5")}}
                                {{ form.phone(class="form-control", placeholder="Phone Number", value=profile.phone) }}
                                {% for error in form.phone.errors %}
                                <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control-inline">
                                {{ form.email.label(class="control-label col-sm-5")}}
                                {{ form.email(class="form-control", placeholder="Email", value=profile.email) }}
                            </div>
                            {% for error in form.email.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <div class="custom-control-inline">
                                {{ form.address.label(class="control-label col-sm-5")}}
                                {{ form.address(class="form-control", placeholder="Address", value=profile.address) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control-inline">
                                {{ form.city.label(class="control-label col-sm-5")}}
                                {{ form.city(class="form-control", placeholder="city", value=profile.city) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control-inline">
                                <label class="control-label col-sm-5">State - Zip Code</label>
                                {{ form.state(class="form-control col-3", placeholder="state", value=profile.state) }} - 
                                {{ form.zip_code(class="form-control col-3", placeholder="Zip Code",value=profile.zip_code) }}
                                {% for error in form.state.errors %}
                                <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                                {% for error in form.zip_code.errors %}
                                <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {{ form.current_email(type="hidden", value=profile.email) }}
                        <hr>
                        {{ form.submit(class="btn btn-outline-info", style="width:100%;")}}
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% for error in form.email.errors %}
    <span class="text-danger">Email: {{ error }}</span><br>
    {% endfor %}
    {% for error in form.state.errors %}
    <span class="text-danger">State: {{ error }}</span><br>
    {% endfor %}
    {% for error in form.zip_code.errors %}
    <span class="text-danger">Zip Code: {{ error }}</span><br>
    {% endfor %}
{% endblock %}

{% block script %}

{% endblock %}