{% extends "/base/auth.html" %}

{% block head %}
<style>
    #bashboarMenu a{
        height: 50px;
        font-size: large;
    }
</style>
{% endblock%}


{% block content %}
<div class="w-100 text-center m-2" style="height: 100vh;" id="bashboarMenu">
    <div class="m-auto p-5 border border-info rounded-lg">
        {% if current_user.is_authorized(["admin"]) %}
        <h4>Administrator</h4>
        <hr>
        <div class="mb-3 row">
            <a href="{{url_for('view_user')}}" class="m-auto btn btn-outline-info col-sm-4 col-md-3 col-lg-2">Manage Users</a>
            <a href="{{url_for('view_employees')}}" class="m-auto btn btn-outline-info col-sm-4 col-md-3 col-lg-2">Manage Employees</a>
            <a href="{{url_for('view_students')}}" class="m-auto btn btn-outline-info col-sm-4 col-md-3 col-lg-2">Manage Students</a>
            <a href="#" class="m-auto btn btn-outline-info col-sm-4 col-md-3 col-lg-2">Maintenance</a>
        </div>
        {% endif %}
        {% if current_user.is_authorized(["employee"]) %}
        <h4>Work Schedule</h4>
        <hr>
        <div class="mb-3 row">
            <a href="{{url_for('shift_all')}}" class="m-auto btn btn-outline-info col-sm-4 col-md-4 col-lg-2">View All Schedule</a>
            {% if current_user.is_authorized(["supervisor"]) %}
            <a href="{{url_for('request_shift_swap')}}" class="m-auto btn btn-outline-info col-sm-4 col-md-4 col-lg-2">Shift Swap Request</a>
            <a href="#" class="m-auto btn btn-outline-info col-sm-4 col-md-4 col-lg-2">My Staffs</a>
            <a href="#" class="m-auto btn btn-outline-info col-sm-4 col-md-4 col-lg-2">Walkin</a>
            {% endif %}
        </div>
        {% endif %}
        {% if current_user.is_authorized(["student"]) %}
        <h4>Student</h4>
        <hr>
        <div class="mb-3 row">
            <a href="#" class="m-auto btn btn-outline-info col-sm-4 col-md-4 col-lg-2">Tutor Availability</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}