{% extends "/base/auth.html" %}

{% block content %}
<div class="container">
    <div class="mb-3 row">
        {% if current_user.is_authorized(["admin"]) %}
        <a href="{{url_for('view_user')}}" class="m-auto btn btn-outline-info col-sm-4 col-md-3 col-lg-2">Users</a>
        <a href="{{url_for('view_employees')}}" class="m-auto btn btn-outline-info col-sm-4 col-md-3 col-lg-2">Employees</a>
        <a href="{{url_for('view_students')}}" class="m-auto btn btn-outline-info col-sm-4 col-md-3 col-lg-2">Students</a>
        <a href="#" class="m-auto btn btn-outline-info col-sm-4 col-md-3 col-lg-2">Maintenance</a>
        {% endif %}
    </div>
    <div class="mb-3 row">
        {% if current_user.is_authorized(["employee"]) %}
        <a href="{{url_for('shift_all')}}" class="m-auto btn btn-outline-info col-sm-4 col-md-4 col-lg-2">View All Schedule</a>
        {% endif %}
        {% if current_user.is_authorized(["supervisor"]) %}
        <a href="#" class="m-auto btn btn-outline-info col-sm-4 col-md-4 col-lg-2">Shift Swap Request</a>
        <a href="#" class="m-auto btn btn-outline-info col-sm-4 col-md-4 col-lg-2">My Staffs</a>
        <a href="#" class="m-auto btn btn-outline-info col-sm-4 col-md-4 col-lg-2">Walkin</a>
        {% endif %}
    </div>
    <div class="mb-3 row">
        {% if current_user.is_authorized(["student"]) %}
        <a href="#" class="m-auto btn btn-outline-info col-sm-4 col-md-4 col-lg-2">Tutor Availability</a>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}