{% extends "/base/public.html" %}

{% block head %}
    <link href='/static/fullcalendar/fullcalendar/main.css' rel='stylesheet' />
    <script src='/static/fullcalendar/fullcalendar/main.js'></script>
{% endblock %}

{% block content %}
<div class="container">
    <div id="calendar"></div>
</div>

{% endblock %}

{% block script %}
<script>
    var mycal = {{ mycal | safe }};
    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        events : mycal,
    });
    calendar.render();
    });
</script>
{% endblock %}