{% extends "/base/public.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css') }}"/>

<div class="container">
    <!-- <h3>Welcome to S.H.I.F.T</h3> -->
    <img src="{{url_for('static', filename='images/logo/logo.png')}}" />
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username(class="form-control", placeholder="Username") }}
        </div>
        <div class="form-group">
            {{ form.password(class="form-control", placeholder="Password") }}
        </div>
        {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary">Log In</button>
        </div>
        <br><br>
        <div class="form-check">
            <label class="form-check-label">
                {{ form.remember_me( class="form-check-input") }}
                Remember me
            </label>
        </div>
        <br><br>
        <a href="{{url_for('request_password_reset')}}">Forgot Password?</a>
        <div class="form-group">
        </div>
    </form>
</div>

{% endblock %}

{% block script %}

{% endblock %}

{% include '/base/footer.html' %}