/*html{
    Potential Background Color for much of S.H.I.F.T. 
    background-image: linear-gradient( #def2f1, #3AAFA9);
}*/
.buttonSHIFT{
    background-color: #3AAFA9;
    color: #DEF2F1;
    width: 40px;
    height: 20px;
    text-align: center;

    /* can remove if it is causing formatting issues.
    position: absolute may be better. */
    
    position:relative;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-weight: 600;
    transition-duration: .3s;
    box-shadow: 3px 6px black;
}
.buttonSHIFT:hover{
    background-color: #2b7A78;
}
.buttonSHIFT:active{
    box-shadow: 0px 0px black;
}

html {
    height: 100%;
}

/* footer styling */

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #2b7A78;
    color: #DEF2F1;
    text-align: center;
    font-family: Verdana;
    font-size: small;
    z-index: 1;
}

.footer img {
    /*display: block;*/
    float: center;
    width: 50px;
    height: 50px;
    background: #DEF2F1;
}

/* end footer styling */

.tableLabel {
    border: 1px;
    border-color: #2b7A78;
    background-color: #DEF2F1;
}

/* Modal - from bs4 */
.modal {
    background-color: #50817fa4; /* Fallback color */
}

.modal-content {
    border: 1px solid rgb(114, 173, 168);
    border-radius: 5px;
}

/* Dropdown Menu - bs4 */
.dropdown:hover > .dropdown-menu {
    display: block;
  }


/* background */
.bg-shift-transparent{
    background-color: #288a8657; /* Fallback color */
}

.frame{
    margin: auto;
    border: solid 2px rgb(12, 107, 110);
    padding: 5px;
    margin: 5px;
}
/* fullcalendar */
#calendar th{
    background: #125351da;
}
#calendar button {
    background-color: #0e3634da;
    color: #ffffff;
}
#calendar button:focus {
    background-color: #ffffff;
    color: #0e3634da;
}
#calendar button:hover {
    background-color: #ffffff;
    color: #0e3634da;
}

.fc .fc-col-header-cell-cushion{
    color: #DEF2F1;
}
.fc .fc-daygrid-event-harness a {
    border: solid 1px #126360da;
    background: #3AAFA9;
    color: #ffffff;
}
