<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- from favicon-generator.org -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/df6a53a56c.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/main.css">
    {% block head %} {% endblock %} <!--Head-->
    
    <!--Title-->
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Welcome to S.H.I.F.T</title>
    {% endif %}

</head>
<body>
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="{{url_for('dashboard')}}">
            <img src="/static/images/logo/logoOnly.png" alt="S.H.I.F.T" style="width:40px;">
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a href="{{url_for('shift_personal')}}" class="nav-link" >My Calendar</a>
                </li>
                <li class="nav-item">
                  <a href="{{url_for('appointment_monthly', user_id=current_user.id)}}" class="nav-link text-decoration-none" >Appointment</a>
                </li>
            </ul>
        </div>
        <div class="dropdown dropleft">
            <button type="button" class="dropdown-toggle btn btn-outline-info" data-toggle="dropdown" >
                <span class="fa fa-bars"></span>
            </button>
            <div class="dropdown-menu">
                <a href="{{url_for('shift_personal')}}" class="dropdown-item" >My Calendar</a>
                <a href="{{url_for('appointment_monthly', user_id=current_user.id)}}" class="dropdown-item" >Appointment</a>
                <div class="dropdown-divider"></div>
            {% if current_user.is_authorized(["admin"]) %}
                <a href="{{url_for('view_user')}}" class="dropdown-item" >Users</a>
                <a href="#" class="dropdown-item" >Employees</a>
                <a href="#" class="dropdown-item" >Students</a>
                <a href="#" class="dropdown-item" >Maintenance</a>
            {% endif %}
            {% if current_user.is_authorized(["employee"]) %}
                <a href="{{url_for('shift_all')}}" class="dropdown-item" >All Schedule</a>
            {% endif %}
            {% if current_user.is_authorized(["supervisor"]) %}
                <a href="#" class="dropdown-item" >Shift Swap Request</a>
                <a href="#" class="dropdown-item" >My Staffs</a>
                <a href="#" class="dropdown-item" >Walkin</a>
            {% endif %}
            {% if current_user.is_authorized(["student"]) %}
                <a href="#" class="dropdown-item" >Tutor Availability</a>
            {% endif %}
                <a href="{{url_for('view_profile')}}" class="dropdown-item" >My Profile</a>
                <a href="#" class="dropdown-item" >Setting</a>
                <div class="dropdown-divider"></div>
            {% if current_user.is_authenticated %}
                <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
            {% endif %}
            </div>
        </div>  
      </nav>

    {% block content %} {% endblock %} <!-- body Extension part-->
</body>

{% block script %} {% endblock %} <!-- Script Extension part-->
<script src="/static/js/main.js"></script>
</html>