
<header class="shiftHeader">
  <div class="wrapper shiftHeader_wrapper">
    <a href="{{url_for('login')}}" style="font-weight: bold; font-size: 24px;">S.H.I.F.T</a>

    <nav>
      <button class="buttonHeader" aria-expanded="false" type="button">
        Menu
      </button>
      <ul class="nav_wrapper">
        <li class="nav_item"><a href="{{url_for('login')}}">Login</a></li>
        <li class="nav_item"><a href="{{url_for('student_verify_email')}}">Student Sign-Up</a></li>
      </ul>
    </nav>
  </div>
</header>
