<nav class="navbar navbar-expand-md navbar-light bg-info" style="color: cadetblue;">
    <!-- Brand -->
    <a class="navbar-brand" href="{{url_for('dashboard')}}">
        <img src="/static/images/logo/logoBg.png" alt="S.H.I.F.T" style="width:40px;" class="rounded-lg">
    </a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler btn-oultine-info" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="color: rgb(80, 189, 152);">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"  data-toggle="#calendarDrop">
                    Calendar
                </a>
                <div class="dropdown-menu" id="calendarDrop">
                {% if current_user.is_authorized(["employee"]) %}
                    <a class="dropdown-item" href="{{url_for('shift_personal')}}">My Schedule</a>
                {% endif %}
                {% if current_user.is_authorized(["employee", "student"]) %}
                    <a class="dropdown-item"  href="{{url_for('appointments')}}">Appointment</a>
                {% endif %}
                {% if current_user.is_authorized(["supervisor"]) %}
                    <a class="dropdown-item" href="{{url_for('shift_all')}}">View Schedule</a>
                    <a class="dropdown-item" href="{{url_for('view_swap_request')}}">Swap Request</a>
                {% endif %}
                {% if current_user.is_authorized(["student"]) %}
                    <a class="dropdown-item" href="{{url_for('tutor_availability', student_id=current_user.profile.student.id)}}">Tutor Availability</a>
                {% endif %}
                {% if current_user.is_authorized(["supervisor", "assistant"]) %}
                    <a class="dropdown-item" href="{{url_for('view_walkin')}}" >Drop-in</a>
                {% endif %}
                </div>
            </li>
            {% if current_user.is_authorized(["admin", "supervisor"]) %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="#manageDrop">
                    Manage
                </a>
                <div class="dropdown-menu" id="manageDrop">
                    <a class="dropdown-item" href="{{url_for('view_employees')}}">Staffs</a>
                    <a class="dropdown-item" href="{{url_for('view_students')}}">Students</a>
                    {% if current_user.is_authorized(["admin"]) %}
                    <a class="dropdown-item" href="{{url_for('view_user')}}">Users</a>
                    {% endif %}
                </div>
            </li>
            {% endif %}
            <li class="nav-item">
                <a href="{{url_for('view_profile')}}" class="nav-link text-decoration-none" >My Profile</a>
            </li>
            <li class="nav-item">
                <a href="{{url_for('logout')}}" class="nav-link text-decoration-none" >Logout</a>
            </li>
        </ul>
    </div>
  </nav>