<script>
    // need modified
    var eventList = {{ mycal | safe }};
    var appointments = {{ appointments_list | tojson }};
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            allDay: false, 
            
            initialView: 'timeGridWeek',
            events : eventList,
            editable: true,
            eventTimeFormat: { // like '14:30:00'
                hour: 'numeric',
                minute: '2-digit',
                meridiem: 'short'
            },
            headerToolbar: {
                right: 'dayGridMonth,timeGridWeek today prev,next',
            },
            eventClick: function(info) {
                let id = info.event.id;
                document.getElementById("myModal").style.display = "block";
                document.getElementById("myModal").addEventListener("click", (event) => {
                        const myModal = document.getElementById("myModal");
                        let eventTarget = event.target;
                        if(eventTarget == myModal) {
                            myModal.style.display = "none";
                        }
                    },
                )
                document.getElementById("labelStudentName").innerHTML = appointments[id]["studentName"];
                document.getElementById("labelDate").innerHTML = appointments[id]["date"];
                document.getElementById("labelStartTime").innerHTML = appointments[id]["start"];
                document.getElementById("labelEndTime").innerHTML = appointments[id]["end"];
                document.getElementById("labelEmployeeName").innerHTML = appointments[id]["employeeName"];
            }
        });
        calendar.render();
    });
</script>