{% extends "/base/auth.html" %}

{% block head %}
    <link href='/static/fullcalendar/fullcalendar/main.css' rel='stylesheet' />
    <script src='/static/fullcalendar/fullcalendar/main.js'></script>
{% endblock %}

{% block content %}
<div class="container">
    <div id="calendar"></div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">

            <input id="first_name" type="text" placeholder="">
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

    </div>
    </div>
</div>
{% endblock %}

{% block script %}
    {% include '/script/appointment.html' %}
{% endblock %}