{% extends "/base/auth.html" %}

{% block head %}
    <link href='/static/fullcalendar/fullcalendar/main.css' rel='stylesheet' />
    <script src='/static/fullcalendar/fullcalendar/main.js'></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="frame">
        {% if current_user.is_authorized(['student']) %}
        <a class="btn btn-outline-info" href="{{url_for('tutor_availability', student_id=current_user.profile.student.id)}}">
            <span class="fa fa-calendar-alt"> </span> Book Appointment
        </a>
        {% else %}
        <a class="btn btn-outline-info" href="{{url_for('appointments')}}">
            <span class="fa fa-calendar-alt"> </span> Appointments
        </a>
        {% endif %}
    </div>
    <div id="calendar"></div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="labelStudentName"></h4>
            </div>
            <div class="modal-body ">
                <div class="form-group">
                    <div class="custom-control-inline">
                        <label class="control-label col-sm-5">Date</label>
                        <span id="labelDate"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control-inline">
                        <span  class="control-label col-sm-5">Time: </span>
                        <span id="labelStartTime"></span> - <span id="labelEndTime"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="custom-control-inline">
                        <span class="labelEmployeeName"></span>
                    </div>
                </div>
            </div>
            <hr>
            <!-- <button type="submit" class="btn btn-outline-info col-12"></button> -->
        </div>
    </div>
    <input id="viewStyle" type="hidden" value="dayGridMonth">
    <input id="viewStyleButton" type="hidden" value="dayGridMonth">
</div>
{% endblock %}

{% block script %}
    {% include '/script/appointment.html' %}
{% endblock %}